<header
  class="fixed z-20 top-0 w-full transition-all duration-300 flex items-center justify-between py-3 px-[5%] lg:px-[10%]"
  [ngClass]="{
    'bg-background shadow-md': isScrolled,
    'bg-transparent': !isScrolled,
    '-top-24': isHeaderHidden,
    'top-0': !isHeaderHidden,
  }"
>
  <app-logo />
  <app-navbar
    [isActive]="isMobileMenuActive"
    (mobileMenuEvent)="hideMobileMenu()"
  />
  <a
    hlmBtn
    href="https://za.linkedin.com/in/thulani-gamteni-8845ab207"
    class="cursor-pointer rounded-full hidden md:flex gap-2"
    target="_blank"
  >
    connect
    <ng-icon hlm size="sm" name="lucideArrowUpRight" />
  </a>
  <button
    hlmBtn
    size="icon"
    variant="outline"
    class="cursor-pointer md:hidden z-30"
    (click)="toggleMobileMenu()"
  >
    <ng-icon
      hlm
      size="sm"
      [name]="isMobileMenuActive ? 'lucideX' : 'lucideMenu'"
    />
  </button>
</header>
