<section
  id="home"
  class="flex flex-col items-center justify-center text-center px-[5%] pt-12"
>
  <img
    src="/assets/illustration-colored.png"
    alt="coder-illustration"
    class="md:max-w-[360px]"
  />
  <div class="flex items-center justify-center gap-x-2">
    <span class="text-xl">Hi! I'm Thulani Gamteni</span>
    <img
      src="/assets/waving-hand.png"
      alt="waving-hand"
      width="30"
      height="30"
    />
  </div>
  <div class="flex flex-col my-6 gap-y-4">
    <h1 class="text-6xl capitalize">software developer</h1>
    <p>
      I am a Software Developer with 3 years of hands on experience
      <br />
      building web applications.
    </p>
  </div>
  <a hlmBtn href="#contact" class="flex gap-2 capitalize mt-8">
    get in touch
    <ng-icon hlm size="sm" name="lucideChevronsDown" />
  </a>
</section>
